<div class="side-bar-header">
  <div class="header-name">
    <!--ログインユーザーの名前を表示ログインユーザー編集画面へのパスを指定-->
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <!--サイドバーのボタンからチャットルーム新規作成画面へ遷移-->
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
  <!--eachメソッドで全てのチャットルーム名を表示する処理を繰り返し実行-->
  <!--「|room|」の部分は変数名なので命名規則はない-->
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <!--チャットルーム名をクリックすると、messagesコントローラーのindexアクションが実行され、チャットルームのページに遷移-->
        <!--room.nameの「name」は、roomsテーブルのカラム名-->
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>